html, body {
    width: 100%;
    background: #F4F4F4;
}

.wxdnav  {
    height: 35px;
    background: #FFF;
}

.wxdnav  ul {

}

.wxdnav  ul li {
    float: left;

}

.wxdnav  ul li a {
    display: block;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    text-align: center;

    color:black ;
    font-size: 14px;
    font-weight: 600;
}

.wxdnav  ul li a:hover {
    color:darkblue ;
}