html,body{
    width: 100%;
    background:#F4F4F4;
}
.love-article{
    margin: 0 auto;
    width: 760px;
    padding:0 20px;
    background: #FFF;
}
.love-header{
    border-bottom: 1px dashed #DDD;
}
.love-header h1{
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color:deepskyblue ;


}
/*.love-header h1:hover{
    color:deepskyblue ;
    background: -webkit-linear-gradient(top left, red, orange, yellow, green);
    background: -moz-linear-gradient(top left, red, orange, yellow, green);
    background: -ms-linear-gradient(top left, red, orange, yellow, green);
    background: -o-linear-gradient(top left, red, orange, yellow, green);
    background: linear-gradient(top left, red, orange, yellow, green);

}*/
/*!*.love-header h1 figure{
    width: 300px;
    margin: 15px 15px 0 0;
    float: left;*!
}*/
/*.love-header h1 figure img{
    width: 100%;
    height:auto;

}*/
.love-main{   }
.love-main h2{
    line-height: 50px;
    font-size: 19px;
    color: red;
    /*-webkit-transition: 0.3s; !*谷歌*!
    -moz-transition: 0.3s; !*火狐*!
    -ms-transition: 0.3s; !*IE*!
    -o-transition: 0.3s; !*欧朋*!
    transition: 0.3s; !*其它*!
    background: -webkit-linear-gradient(top left, green, orange, yellow, green);
    background: -moz-linear-gradient(top left, green, orange, yellow, green);
    background: -ms-linear-gradient(top left, green, orange, yellow, green);
    background: -o-linear-gradient(top left, green, orange, yellow, green);
    background: linear-gradient(top left, green, orange, yellow, green);
*/
}
.love-main h3{
    line-height: 50px;
    font-size: 18px;
    color: purple;
}
.love-main h4{
    line-height: 50px;
    font-size: 17px;
    color: green;
}
.love-main p{
    line-height: 35px;
    font-size: 16px;
   text-indent: 30px;
}
.love-main p em{
    font-weight: bold;
    color: blue;
    font-style: normal;
}
.love-main p strong{
    font-size: 18px;
}
.love-main  figure{
    width: 300px;
    margin: 15px 15px 0 0;
    float: left;

}
.love-main figure img{
    width:100%;
}
.love-main figure figcaption{

}
.love-figure{width: 300px;
    margin: 30px 15px 0 0;
    float: left;

}

@media all and (max-width:800px){
    .love-article {
        padding: 0 10px;
        width: auto;
    }
@media all and (max-width:480px) {

    .love-main figure {
        margin: 10px 0;
        width:auto;
        float:none;
    }
    /*.sjziei-main aside{
        display: none;*/
    }
}