html,body{
    background: #F4F4F4;
    width: 100%;
}
.sjziei-article{
    margin:0 auto;
    padding:0 20px;
    width:760px;
    background: #FFF;
}
.sjziei-article{
    border-bottom: 1px dashed #DDD;
}
.sj