html,body{
    width:100%;
    background:#FFFFFF;
}
.sjziei-article {
    margin:0 auto;
    padding:0 20px;
    width:760px;
    background:#FFF;
}
.sjziei-header{
    border-bottom:1px dashed #DDD;
}
.sjziei-header h1{
    line-height:50px;
    font-size:20px;
    text-align:center;

}

.sjziei-main p{
    line-height:35px;
    font-size:14px;
    text-indent:20px;
    color:saddlebrown ;
}
.sjziei-main p em{
    font-weight:bold;
    color:orange;
    font-style:normal;
}
.sjziei-main figure{
    margin:15px 15px 0 0;
    width:300px;
    float:left;
}
.sjziei-main figure img{
    width:100%;
}
@media all and (max-width: 800px){
    .sjziei-article{
        padding:0 10px;
        width:auto;/*宽度自适应:页面有多宽，我们让article的宽度跟着自动改变即可*/
    }
    .sjziei-header h1{
        /*内容超出一行自动裁切，并以...代替*/
        text-overflow:clip;/*超出的部分自动裁切，ellipsis:添加省略号   clip:只是裁切没有省略号*/
        white-space:nowrap;/*强制不换行*/
        overflow:hidden;/*超出的部分隐藏*/
    }

}
@media all and (max-width: 480px) {
    /*宽度小于480px的时候，我们也没有必要让文字环绕图片了，图片单独的占一行即可*/
    .sjziei-main figure {
        margin: 10px 0;
        width: auto;
        float: none;
    }
}

body{

}





