html, body {
    width: 100%;
    background: #F4F4F4;
}
.sjziei-article {
    margin: 0 auto;
    padding: 0 20px;
    width: 760px;
    background: #FFF;
}

.sjziei-header {
    border-bottom: 1px dashed #DDD;
}
.sjziei-header h1 {
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}
.sjziei-main aside {
    margin:auto;
    width: 400px;
}
.sjziei-main h3 {
    line-height: 50px;
    font-size: 18px;
    text-align: left ;
    color: red ;
}
.sjziei-main p {
    line-height: 35px;
    font-size: 14px;
    text-indent: 20px;
}
.sjziei-main figure {
    margin:auto;
    width: 500px;
}
